.profile{
    width: 80vw;
    margin: 0 auto;
    margin-top: 3rem;

    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem 2rem;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 8px;

        .profilePic{
            width: 100px;
            height: 100px;
            border-radius: 50%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .profile-details{
            width: 60%;

            .username{
                font-family: $mont;
                font-size: 1.4rem;
                font-weight: 500;
                margin-bottom: .8rem;
            }
            .email{
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: .8rem;
                color: $gree;
            }
            .bio{
                font-family: $mont;
                font-size: .8rem;
            }
        }

        .ctas{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            #request-btn{
                display: block;
                width: 100%;
                padding: .5rem;
                font-size: .8rem;
                font-weight: 700;
                border-radius: 5px;
                border: none;
                background: $yell;
                color: $bla;

                &:hover{
                    cursor: pointer;
                }
            }

            #edit-btn{
                display: block;
                width: 100%;
                padding: .5rem;
                font-size: .8rem;
                font-weight: 700;
                border-radius: 5px;
                border: none;
                background: $gree;
                margin-top: 1.5rem;
                color: $bla;

                &:hover{
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }
    }

    .my-books{
        margin-top: 4rem;

        h4{
            font-family: $mont;
            margin-bottom: .5rem;
        }

        .inner-container{
            display: flex;
            justify-content: space-between;

            .container{
                width: 68%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
    
                .book{
                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 8px;
                    margin-bottom: 2rem;
    
                    .book-link{
                        padding: 1.5rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        text-decoration: none;
                        color: $whi;


                        .coverImage{
                            border: $b;
                            padding: .5rem;
                            height: 80px;
                            width: 60px;
        
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
        
                        .book-details{
                            padding: .5rem;
        
                            .title{
                                font-family: $mont;
                            }
                            .author{
                                font-size: .8rem;
                                color: $gree;
                                font-weight: 500;
                            }
                        }
        
                        .progress{
                            padding: .5rem;
        
                            .progress-title{
                                font-size: 1.1rem;
                            }
                            .percentage{
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
    
            .side{
                background: rgba(255, 255, 255, 0.1);
                height: 300px;
                width: 28%;
                border-radius: 8px;
            }
        }
    }

    .publisher-sales{
        margin-top: 4rem;
        margin-bottom: 1rem;

        h2{
            font-size: 2rem;
            margin-bottom: .6rem;
            color: $yell;
            font-family: $mont;
            font-weight: 500;
        }

        .books-on-sale-table {
                width: 100%;
                border-collapse: collapse;
                background-color: #33333372;
                color: #ececec;
        
            th, td {
                padding: 12px;
                border: 1px solid #55555500;
                text-align: start;
            }
            
            th {
                background-color: #2222226a;
            }
        
            tbody {
                tr:nth-child(even) {
                    background-color: #1919194a;
                }
        
                tr:hover {
                    background-color: #66666625;
                    cursor: pointer;
                }

                .actions{

                    .btn-1{
                        outline: none;
                        border: 1px solid $yell;
                        display: inline-block;
                        margin-right: 2rem;
                        background: none;
                        color: $yell;
                        padding: .2rem .4rem;
                        border-radius: 3px;
                        
                        &:hover{
                            background-color: $yell;
                            color: $bla;
                            cursor: pointer;
                        }
                    }
                    .btn-2{
                        outline: none;
                        border: 1px solid $red;
                        display: inline-block;
                        margin-right: 2rem;
                        background: none;
                        color: $red;
                        padding: .2rem .4rem;
                        border-radius: 3px;

                        &:hover{
                            background-color: $red;
                            color: $bla;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.request{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: $bla;

    .request-container{
        width: 80vw;
        margin: 0 auto;
        margin-top: 4rem;
        position: relative;
        
        h4{
            font-family: $mont;
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        #closeIcon{
            color: $red;
            font-size: 4rem;
            position: absolute;
            top: -1rem;
            right: -1rem;

            &:hover{
                rotate: (-180deg);
                cursor: pointer;
            }
        }
        .inner-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .input-div{
                width: 48%;
                margin-bottom: 1.5rem;
                position: relative;

                label{
                    font-size: .8rem;
                    display: inline-block;
                    position: relative;
                    left: .3rem;
                    margin-bottom: .3rem;
                }
                input, textarea{
                    display: block;
                    color: $whi;
                    background: none;
                    outline: none;
                    border: 1px solid $whi;
                    border-radius: 5px;
                    font-size: 1rem;
                    padding: .8rem 1rem;
                    width: 80%;
                    font-family: $mont;

                    &:focus{
                        border: 1px solid $yell; 
                    }

                    &::placeholder { 
                        color: rgba(255, 255, 255, 0.5); 
                    }
                }

                .submit{
                    display: block;
                    width: 50%;
                    padding: .8rem;
                    font-size: 1rem;
                    font-weight: 700;
                    border-radius: 5px;
                    border: none;
                    background: $yell;
                }

                .custom-file-upload {
                    border: 1px solid $whi;
                    display: inline-block;
                    padding: .5rem 1rem;
                    cursor: pointer;
                    border-radius: 4px;
                    font-size: 1rem;
                    margin-top: .8rem;
                }

                input[type="file"] {
                    border: $b;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 1rem;
                    padding: .5rem 1rem;
                    cursor: pointer;
                    opacity: .7;
                }
            }
        }
    }
}