@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s ease;
}

.space{
    height: 30vh;
}

$b: 2px solid red;
$b2: 2px solid rgb(0, 225, 255);
$b3: 2px solid rgb(123, 255, 0);


$robo: "Roboto", sans-serif;
$mont: "Montserrat", sans-serif;

$whi: #f5f5f5;
$bla: #252525;
$yell: #eec16e;
$gree: #96ca80;
$blu: #80a5ca;
$red: #ee6e6e;


body{
    font-family: $robo;
    background: $bla;
    color: $whi;
}

header{
    width: 80vw;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    .logo-div{
        #logo{
            font-size: 1.5rem;
        }
    }

    menu{
        //border: 2px solid rgb(68, 255, 0);
        display: flex;
        gap: 4rem;

        .menu-link{
            position: relative;
            text-decoration: none;
            color: $whi;
            display: block;

            &:hover{
                color: $yell;
            }
        }

        #cartIcon{
            transform: scale(1.5);
        }
        #profileIcon{
            transform: scale(1.5);
        }

        
        #cart-tag{
            position: absolute;
            top: -.9rem;
            left: .2rem;
            font-size: .9rem;
            font-weight: 800;
            color: $red;
            z-index: 2;
        }
    }
}

footer{
    width: 80vw;
    margin:  0 auto;
    margin-top: 10rem;
    padding-bottom: 2rem;
    
    .footer-top{
        display: flex;
        gap: 20%;

        .left{   
            width: 30%;

            .logo{
                #logo{
                    font-size: 2rem;
                    font-weight: 600;
                }
            }

            .tagline{
                font-family: $mont;
                font-weight: 400;
                font-size: .8rem;
            }

            .socials{
                width: 100px;
                display: flex;
                justify-content: space-between;
                margin-top: 4rem;

                .icon{
                    display: block;
                    font-size: 1.2rem;
                }
            }

        }

        .right{
            width: 40%;
            display: flex;
            gap: 50%;

            .footer-links{
                
                h6{
                    font-size: 1.3rem;
                    font-weight: 500;
                }

                .footer-link{
                    font-family: $mont;
                    display: block;
                    color: $whi;
                    text-decoration: none;
                    margin: .25rem 0;
                    padding: .25rem 0;
                    font-size: .8rem;

                    &:hover{
                        color: $yell;
                    }
                }
            }
        }
    }

    .footer-bottom{
        border-top: 1px solid rgba(255, 255, 255, 0.401);
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
        padding-top: 2rem;

        p{
            font-size: .8rem;
            opacity: .8;
            font-weight: 400;
        }
    }

}

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
    width: 6px; /* Adjust width as desired */
}
  
::-webkit-scrollbar-thumb {
    background: #88888881; /* Adjust color as desired */
    border-radius: 6px; /* Round corners */
}
  


@import 'signup';
@import 'home';
@import 'details';
@import 'cart';
@import 'profile';
@import 'admin';
@import 'reader';
@import 'genre-page';
@import 'how';

