@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s ease;
}

.space {
  height: 30vh;
}

body {
  font-family: "Roboto", sans-serif;
  background: #252525;
  color: #f5f5f5;
}

header {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
header .logo-div #logo {
  font-size: 1.5rem;
}
header menu {
  display: flex;
  gap: 2rem;
}
header menu .menu-link {
  text-decoration: none;
  color: #f5f5f5;
  display: block;
}

footer {
  width: 80vw;
  margin: 0 auto;
  margin-top: 8rem;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
}
footer .footer-top .left {
  width: 30%;
}
footer .footer-top .left .logo #logo {
  font-size: 2rem;
  font-weight: 600;
}
footer .footer-top .left .tagline {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}
footer .footer-top .left .socials {
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
footer .footer-top .left .socials .icon {
  display: block;
  font-size: 1.2rem;
}
footer .footer-top .right {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
footer .footer-top .right .footer-links h6 {
  font-size: 1.3rem;
  font-weight: 500;
}
footer .footer-top .right .footer-links .footer-link {
  font-family: "Montserrat", sans-serif;
  display: block;
  color: #f5f5f5;
  text-decoration: none;
  margin: 0.25rem 0;
  padding: 0.25rem 0;
  font-size: 0.8rem;
}
footer .footer-top .right .footer-links .footer-link:hover {
  color: #eec16e;
}
footer .footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.401);
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-top: 2rem;
}
footer .footer-bottom p {
  font-size: 0.8rem;
  opacity: 0.8;
  font-weight: 400;
}

.sign-up .sign-up-container, .sign-up .login-container, .login .sign-up-container, .login .login-container {
  width: 60vw;
  margin: 0 auto;
}
.sign-up .sign-up-container .logo-div, .sign-up .login-container .logo-div, .login .sign-up-container .logo-div, .login .login-container .logo-div {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.sign-up .sign-up-container .logo-div #logo, .sign-up .login-container .logo-div #logo, .login .sign-up-container .logo-div #logo, .login .login-container .logo-div #logo {
  font-size: 5rem;
  letter-spacing: 2px;
}
.sign-up .sign-up-container h2, .sign-up .login-container h2, .login .sign-up-container h2, .login .login-container h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  margin-left: 6rem;
}
.sign-up .sign-up-container .inner-container, .sign-up .login-container .inner-container, .login .sign-up-container .inner-container, .login .login-container .inner-container {
  display: flex;
  justify-content: flex-end;
}
.sign-up .sign-up-container .inner-container form, .sign-up .login-container .inner-container form, .login .sign-up-container .inner-container form, .login .login-container .inner-container form {
  width: 50%;
  margin-left: 6rem;
}
.sign-up .sign-up-container .inner-container form div label, .sign-up .login-container .inner-container form div label, .login .sign-up-container .inner-container form div label, .login .login-container .inner-container form div label {
  font-size: 0.8rem;
  display: inline-block;
  position: relative;
  left: 0.3rem;
}
.sign-up .sign-up-container .inner-container form div input, .sign-up .login-container .inner-container form div input, .login .sign-up-container .inner-container form div input, .login .login-container .inner-container form div input {
  width: 80%;
  font-size: 1rem;
  display: block;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #f5f5f5;
  color: #f5f5f5;
  padding: 0.8rem 0.3rem;
  margin-bottom: 1.5rem;
}
.sign-up .sign-up-container .inner-container form button, .sign-up .login-container .inner-container form button, .login .sign-up-container .inner-container form button, .login .login-container .inner-container form button {
  display: block;
  width: 50%;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  background: #eec16e;
}
.sign-up .sign-up-container .inner-container form p, .sign-up .login-container .inner-container form p, .login .sign-up-container .inner-container form p, .login .login-container .inner-container form p {
  font-size: 0.7rem;
  margin-top: 1rem;
}
.sign-up .sign-up-container .inner-container form p #toLogin, .sign-up .login-container .inner-container form p #toLogin, .login .sign-up-container .inner-container form p #toLogin, .login .login-container .inner-container form p #toLogin {
  text-decoration: none;
  color: #96ca80;
}
.sign-up .sign-up-container .inner-container .right-div, .sign-up .login-container .inner-container .right-div, .login .sign-up-container .inner-container .right-div, .login .login-container .inner-container .right-div {
  width: 50%;
  position: relative;
}
.sign-up .sign-up-container .inner-container .right-div img, .sign-up .login-container .inner-container .right-div img, .login .sign-up-container .inner-container .right-div img, .login .login-container .inner-container .right-div img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: rotate(-30deg);
  position: absolute;
  top: -4rem;
  left: 0;
}

.home .home-container {
  width: 80vw;
  margin: 0 auto;
}
.home .home-container .hero {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}
.home .home-container .hero .left {
  width: 80%;
}
.home .home-container .hero .left h3 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 5.3rem;
}
.home .home-container .hero .left .search-input {
  display: flex;
  gap: 0.5rem;
  margin-top: 4rem;
}
.home .home-container .hero .left .search-input input {
  display: block;
  color: #eec16e;
  background: none;
  outline: none;
  border: 2px solid #f5f5f5;
  border-radius: 5px 0 0 5px;
  font-size: 1.2rem;
  padding: 0.8rem 1rem;
  width: 45%;
}
.home .home-container .hero .left .search-input input:focus {
  border: 2px solid #eec16e;
}
.home .home-container .hero .left .search-input input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.home .home-container .hero .left .search-input input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.home .home-container .hero .left .search-input #search-btn {
  display: block;
  font-size: 2.2rem;
  background: none;
  border: 2px solid #f5f5f5;
  color: #f5f5f5;
  border-radius: 0px 5px 5px 0px;
  padding: 0.2rem 1rem;
}
.home .home-container .hero .left .search-input #search-btn .icon {
  position: relative;
  top: 0.2rem;
}
.home .home-container .hero .left .search-input #search-btn:hover {
  border: 2px solid #eec16e;
  color: #eec16e;
  cursor: pointer;
}
.home .home-container .hero .right {
  width: 48%;
  position: relative;
}
.home .home-container .hero .right img {
  width: 120%;
  height: 120%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: rotate(0deg);
  position: absolute;
  top: -3rem;
  left: 0;
}
.home .home-container .all-genres {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}
.home .home-container .all-genres .genre-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.13);
  height: 100px;
  width: 15%;
  border-radius: 8px;
  cursor: pointer;
}
.home .home-container .all-genres .genre-box p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(245, 245, 245, 0.8);
}
.home .home-container .all-genres .genre-box:hover {
  background: rgba(238, 193, 110, 0.13);
}
.home .home-container .all-genres .genre-box:hover p {
  color: #eec16e;
}
.home .home-container .genre {
  margin-top: 6rem;
}
.home .home-container .genre .genre-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.home .home-container .genre .genre-container {
  display: flex;
  gap: 2.5%;
  flex-wrap: wrap;
}
.home .home-container .genre .genre-container .book {
  width: 18%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 3rem;
}
.home .home-container .genre .genre-container .book:hover {
  cursor: pointer;
  background: rgba(238, 193, 110, 0.18);
}
.home .home-container .genre .genre-container .book:hover .top img {
  transform: scale(1.2);
}
.home .home-container .genre .genre-container .book .top {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.home .home-container .genre .genre-container .book .top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .home-container .genre .genre-container .book .bottom {
  padding: 1rem 0.8rem;
}
.home .home-container .genre .genre-container .book .bottom .title {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.home .home-container .genre .genre-container .book .bottom .author {
  font-size: 1rem;
  margin-top: 0.4rem;
  color: #96ca80;
}
.home .home-container .genre .genre-container .book .bottom .price {
  font-size: 0.9rem;
  margin-top: 0.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #ee6e6e;
}

.details {
  width: 80vw;
  margin: 0 auto;
}
.details .main {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
.details .main .left {
  width: 40%;
}
.details .main .left .imageDiv img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.details .main .right {
  width: 50%;
  padding-right: 3%;
}
.details .main .right .title {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.details .main .right .author {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: #96ca80;
  font-weight: 500;
}
.details .main .right .price {
  font-size: 1.4rem;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ee6e6e;
}
.details .main .right #addToCart {
  display: block;
  width: 40%;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  background: #eec16e;
  margin-top: 3rem;
}
.details .main .right .synopsis {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.4rem;
  margin-top: 3rem;
  font-size: 0.8rem;
}
.details .main .right .addToWishlist {
  display: block;
  width: 30%;
  padding: 0.4rem;
  outline: none;
  border: none;
  background: none;
  color: #eec16e;
  font-size: 0.8rem;
  font-weight: 500;
  border: 1px solid #eec16e;
  border-radius: 5px;
  cursor: pointer;
  margin: 2rem 0;
}
.details .main .right .addToWishlist .icon {
  position: relative;
  top: 0.07rem;
}
.details .main .right .book-genres {
  display: flex;
  gap: 0.4rem;
}
.details .main .right .book-genres h6 {
  font-size: 0.8rem;
}
.details .main .right .book-genres ul {
  display: flex;
  gap: 0.3rem;
}
.details .main .right .book-genres ul li {
  list-style-type: none;
  font-size: 0.8rem;
}
.details .genre {
  margin-top: 6rem;
}
.details .genre .genre-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.details .genre .genre-container {
  display: flex;
  gap: 2.5%;
  flex-wrap: wrap;
}
.details .genre .genre-container .book {
  width: 18%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 3rem;
}
.details .genre .genre-container .book:hover {
  cursor: pointer;
  background: rgba(238, 193, 110, 0.18);
}
.details .genre .genre-container .book:hover .top img {
  transform: scale(1.2);
}
.details .genre .genre-container .book .top {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.details .genre .genre-container .book .top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.details .genre .genre-container .book .bottom {
  padding: 1rem 0.8rem;
}
.details .genre .genre-container .book .bottom .title {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.details .genre .genre-container .book .bottom .author {
  font-size: 1rem;
  margin-top: 0.4rem;
  color: #96ca80;
}
.details .genre .genre-container .book .bottom .price {
  font-size: 0.9rem;
  margin-top: 0.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #ee6e6e;
}/*# sourceMappingURL=styles.css.map */